{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>АЗИС БИБЛИОТЕКА</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">

        {% if user.is_authenticated %}
            <ul class="list-unstyled components">
                <br>
                {% if can_use_ReaderCreate %}
                    <li><a href="/add_reader">Добавить читателя</a></li>
                {% endif %}
                <li>
                    {% if can_use_AuthorCreate %}
                        <a href="/add_author">Добавить автора</a>
                    {% endif %}
                </li>
                <li>
                    {% if can_use_BookCreate %}
                        <a href="/add_book">Добавить новую книгу</a>
                    {% endif %}
                </li>
                <li>
                    {% if can_use_SelectReader %}
                        <a href="/select_reader">Выбрать читателя</a>
                    {% endif %}
                </li>
                <li>
                    {% if can_use_ChangeBookAmount %}
                        <a href="/add_books">Добавить книги</a>
                    {% endif %}
                </li>
                <li>
                    {% if can_use_ChangeBookAmount %}
                        <a href="/write_off_books">Списать книги</a>
                    {% endif %}
                </li>
            </ul>
            {% if libcard_id != None %}
            <ul class="list-unstyled components">
                    <li><a href="/reader/{{ libcard_id }}/get_books">Выдать книги</a></li>
                    <li><a href="/reader/{{ libcard_id }}/return_books">Вернуть книги</a></li>
            </ul>
            {% endif %}
            {% if user_is_staff %}
            <ul class="list-unstyled CTAs">
                    <li><a href="/admin">Панель администрирования</a></li>
            </ul>
            {% endif %}
        {% else %}
        <ul class="list-unstyled components">
                <li><a href="/accounts/login/">Вход</a></li>
        </ul>
        {% endif %}
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Меню</span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                             <h3>{{ user_first_name }} {{ user_last_name }}</h3>
                            <a href="/accounts/logout/" class="btn btn-primary">Выход</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block head %}
                        <div class="page-header">
                            <h1><a href="/">АЗИС БИБЛИОТЕКА</a></h1>
                        </div>
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>


        <!-- jQuery CDN -->
        <script src="{% static 'external/jquery-1.12.0.min.js' %}"></script>
        <!-- Bootstrap Js CDN -->
        <script src="{% static 'external/bootstrap.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>
    </div>
</div>
</body>
</html>
