{% extends 'library/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'external/bootstrap-select.css' %}" />
<script src="{% static 'external/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'external/bootstrap-select.js' %}"></script>

<script type="text/javascript">
    function selectAll()
    {
        var selectBox = document.getElementById("id_authors");
        for (var i = 0; i < selectBox.options.length; i++) {
             selectBox.options[i].selected = true;
        }
    }

    function addToSelected() {
        var options = $('#id_all_authors option:selected').sort().clone();
        $('#id_authors').append(options);
    }

    function remove() {
        $('#id_authors option:selected').remove();
    }

    function removeAll() {
        $('#id_authors').empty();
    }

</script>
<div class="page-header">
    <h1><a href=".">Добавление книги</a></h1>
</div>
{% endblock %}
{% block content %}
<form class=form-vertical action="" method="post">
{% csrf_token %}
{{ form|as_bootstrap }}
    <input type="button" class="btn btn-primary" onclick="addToSelected()" value="Добавить в список"></input>
    <input type="button" class="btn btn-primary" onclick="remove()" value="Убрать выбранные"></input>
    <input type="button" class="btn btn-primary" onclick="removeAll()" value="Убрать все"></input>
    <br><br>
<div class="form-actions">
<a href="/" class="btn">Отмена</a>
<button type="submit" class="btn btn-primary" onclick="selectAll()">Сохранить</button>
</div>
</form>
{% endblock %}
