{% extends 'library/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'external/bootstrap-select.css' %}" />
<script src="{% static 'external/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'external/bootstrap-select.js' %}"></script>
<div class="page-header">
    <h1><a href=".">Изменение количества книг</a></h1>
</div>
{% endblock %}
{% block content %}
<form class=form-vertical action="" method="post">
{% csrf_token %}
{{ form|as_bootstrap }}
    <br><br>
<div class="form-actions">
<a href="/" class="btn">Отмена</a>
<button type="submit" class="btn btn-primary">Сохранить</button>
</div>
</form>
{% endblock %}
