{% extends 'library/base.html' %}
{% block content %}
{% if can_use_ReaderCreate %}
<ul class="list-unstyled components">
    <li><a href="add_reader">Добавить читателя</a></li>
</ul>
{% endif %}
{% if can_use_AuthorCreate %}
<ul class="list-unstyled components">
    <li><a href="add_author">Добавить автора</a></li>
</ul>
{% endif %}
{% if can_use_BookCreate %}
<ul class="list-unstyled components">
    <li><a href="add_book">Добавить новую книгу</a></li>
</ul>
{% endif %}
{% if can_use_SelectReader %}
<ul class="list-unstyled components">
    <li><a href="select_reader">Выбрать читателя</a></li>
</ul>
{% endif %}
{% if can_use_ChangeBookAmount %}
<ul class="list-unstyled components">
    <li><a href="add_books">Добавить книги</a></li>
</ul>
{% endif %}
{% if can_use_ChangeBookAmount %}
<ul class="list-unstyled components">
    <li><a href="write_off_books">Списать книги</a><li>
</ul>
{% endif %}
{% if not user.is_authenticated %}
<ul class="list-unstyled components">
    <li><a href="accounts/login/">Вход</a></li>
</ul>
{% endif %}
{% endblock %}
