{% extends 'library/base.html' %}
{% load bootstrap_tags %}
{% block content %}
<form class=form-vertical action="" method="post">
    <input type="hidden" name="next" value="/" />
    {% csrf_token %}
    {{ form|as_bootstrap_inline }}
    <button type="submit" class="btn btn-primary">Войти</button>    
    <a href="/" class="btn">Отмена</a>
</form>
{% endblock %}
