{% extends 'library/base.html' %}
{% load bootstrap_tags %}
{% block head %}
<div class="page-header">
    <h1><a href=".">Добавление читателя</a></h1>
</div>
{% endblock %}
{% block content %}
<form class=form-vertical action="" method="post">
{% csrf_token %}
{{ form|as_bootstrap }}
<div class="form-actions">
<a href="/" class="btn">Отмена</a>
<button type="submit" class="btn btn-primary">Сохранить</button>
</div>
</form>
{% endblock %}

