{% extends 'library/base.html' %}
{% block head %}
<div class="page-header">
    <h1><a href=".">Читатель</a></h1>
</div>
{% endblock %}
{% block content %}
    <h3>Информация о читателе:</h3>
    <table>
        <tr><td>ФИО:</td><td>{{ reader.surname }} {{ reader.name }} {{ reader.patronymic }}</td></tr>
        <tr><td>Паспортные данные:</td><td>{{ passportSeries }} {{passportNumber }}</td></tr>
        <tr><td>Телефон:</td><td>{{ reader.phoneNumber }}</td></tr>
        <tr><td>Номер читательского билета:</td><td>{{ libcard_id }}</td></tr>
    </table>
<br>
<br>
<a href="/reader/{{ libcard_id }}/get_books">Выдать книги</a><br>
<a href="/reader/{{ libcard_id }}/return_books">Вернуть книги</a><br>
<br>
{% endblock %}
